# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.TaskFlow.iml
/contentModel.xml
/src/backend/.idea
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Backend ignored files
/src/backend/TaskFlow.Api/bin
/src/backend/TaskFlow.Api/obj
/src/backend/TaskFlow.Infrastructure/bin
/src/backend/TaskFlow.Infrastructure/obj
/src/backend/TaskFlow.Application/bin
/src/backend/TaskFlow.Application/obj
/src/backend/TaskFlow.Domain/bin
/src/backend/TaskFlow.Domain/obj